<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ProjectDBEntities" connectionString="metadata=res://*/DBModel.ProjectDBDataModel.csdl|res://*/DBModel.ProjectDBDataModel.ssdl|res://*/DBModel.ProjectDBDataModel.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;C:\Users\PC\OneDrive\Veštačka Inteligencija - Projekat\CyclingTrainingPlan\CyclingTrainingPlan\Resources\BiciTreningPlanDB.db&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>